<% 
	var headerHeight = appInfo.headerHeight*ui.scale,
		footerHeight = appInfo.footerHeight*ui.scale
%>
body {
	background: #f2f2f2 !important;
}

#viewport {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

#wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.scroller {
	padding: <%=headerHeight %>px 0 <%=footerHeight %>px;
}
.scroller div {
	background-color: #444;
	background-size: cover;
	border-top: 5px solid red;
}
